{% load static %}
{% load pdf_image %}

{% static "img/small_logo.png" as small_logo %}
{# ressource.image.url|get64:domain|add:small_logo #}
<!-- {{ domain }}/media/{{ appdetails.picture }} -->
{# ressource.image.url|get64:signature }}
{# ressource.image.url|get64:'http://deanchrisarmada.com/static/img/check.jpg' #}
{# ressource.image.url|get64:'http://deanchrisarmada.com/static/img/uncheck.jpg' #}
{# ressource.image.url|get64:'http://deanchrisarmada.com/static/img/small_logo.png' #}
{# ressource.image.url|get64:picture #}

<!DOCTYPE html>
<html>
<head>
	<title>PDF Example</title>
	<style type="text/css">
		body{ font-size:12px; }
		th, td{ padding:5px; padding-bottom:0px; }
	</style>
</head>
<body>
	<table>
		<tr>
			<td valign="top">
				<img style="float:left" src="{{ ressource.image.url|get64:logo }}"><br />
				Date of Application: <u>{{ appform.app_details }}</u><br />
				Position Applied For: <u>{{ appform.app_details.position_applied }}</u><br />
				Alternative Position: <u>{{ appform.app_details.alternative_position }}</u>
			</td>
			<td style="text-align:right">
				<span style="font-size:24px; font-weight:700">APPLICATION FORM</span><br />
				<span style="font-size:12px; font-weight:700">FORM REF. MANSHIP QP07-04-07</span><br />
				<br />
				<img style="float:left" src="{{ ressource.image.url|get64:picture }}">
			</td>
		</tr>
	</table>
	<br ><br >
	<table border="1">
		<tr>
			<th style="text-align: left; ">How did you learn about MANSHIP?</th>
		</tr>
		<tr>
			<td style="padding-left: 20px;">
				{% if appsource.source == "Advertisement" %}
					<img src="{{ ressource.image.url|get64:check }}">
				{% else %}
					<img src="{{ ressource.image.url|get64:uncheck }}">
				{% endif %}
					Advertisement
				{% if appsource.source == "Advertisement" %}(Please specify): <u>{{ appsource.specific }}</u> {% endif %}<br />
				{% if appsource.source == "Internet" %}
					<img src="{{ ressource.image.url|get64:check }}">
				{% else %}
					<img src="{{ ressource.image.url|get64:uncheck }}">
				{% endif %}
					Internet
				{% if appsource.source == "Internet" %}(Website Name/Address): <u>{{ appsource.specific }}</u> {% endif %}<br />
				{% if appsource.source == "Friends or Relatives" %}
					<img src="{{ ressource.image.url|get64:check }}">
				{% else %}
					<img src="{{ ressource.image.url|get64:uncheck }}">
				{% endif %}
					Friends or Relatives
				{% if appsource.source == "Friends or Relatives" %}(Please Specify): <u>{{ appsource.specific }}</u> {% endif %}<br />
				{% if appsource.source == "Seafarer Center" %}
					<img src="{{ ressource.image.url|get64:check }}">
				{% else %}
					<img src="{{ ressource.image.url|get64:uncheck }}">
				{% endif %}
					Seafarer Center <br />&nbsp;
			</td>
		</tr>
	</table>
	<br >
	<table border="1">
		<tr>
			<th style="text-align: left; ">PERSONAL DATA</th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Surname: <u>{{ personaldata.last_name }}</u></td>
					<td>First Name: <u>{{ personaldata.first_name }}</u></td>
					<td>Middle Name: <u>{{ personaldata.middle_name }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Age: <u>{{ personaldata.age }}</u></td>
					<td>Birthday: <u>{{ personaldata.birth_date }}</u></td>
					<td>Birthplace: <u>{{ personaldata.birth_placeyy }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Landline No. 1: <u>{{ personaldata.landline_1 }}</u></td>
					<td>Mobile No. 1: <u>{{ personaldata.mobile_1 }}</u></td>
					<td>Email 1: <u>{{ personaldata.email_1 }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Landline No. 2: <u>{{ personaldata.landline_2 }}</u></td>
					<td>Mobile No. 2: <u>{{ personaldata.mobile_2 }}</u></td>
					<td>Email 2: <u>{{ personaldata.email_2 }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Preferred Vessel Type: <u>{{ personaldata.preferred_vessel_type }}</u></td>
					<td>Date of Availability: <u>{{ personaldata.availability_date }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>SSS No.: <u>{{ personaldata.sss }}</u></td>
					<td>Philhealth No.: <u>{{ personaldata.philhealth }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>T.I.N: <u>{{ personaldata.tin }}</u></td>
					<td>Pagibig No.: <u>{{ personaldata.pagibig }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<th style="text-align:left"><i>Permanent Address</i></th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Street: <br /><u>{{ personaldata.permanent_address.permanent_street }}</u></td>
					<td>Baranggay: <br /><u>{{ personaldata.permanent_address.permanent_baranggay }}</u></td>
					<td>Town: <br /><u>{{ personaldata.permanent_address.permanent_town }}</u></td>
					<td>Municipality: <br /><u>{{ personaldata.permanent_address.permanent_municipality }}</u></td>
					<td>Zip Code: <br /><u>{{ personaldata.permanent_address.permanent_zip }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<th style="text-align:left"><i>Current Address</i></th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Street: <br /><u>{{ personaldata.current_address.current_street }}</u></td>
					<td>Baranggay: <br /><u>{{ personaldata.current_address.current_baranggay }}</u></td>
					<td>Town: <br /><u>{{ personaldata.current_address.current_town }}</u></td>
					<td>Municipality: <br /><u>{{ personaldata.current_address.current_municipality }}</u></td>
					<td>Zip Code: <br /><u>{{ personaldata.current_address.current_zip }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Civil Status: <u>{{ personaldata.civil_status }}</u></td>
					<td>Date Married: <u>{{ personaldata.married_date }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Spouse's Maiden Name: <u>{{ personaldata.spouse.spouse_name }}</u></td>
					<td>Spouse's Birthday: <u>{{ personaldata.spouse.birthdate }}</u></td>
					<td>Date Married: <u>{{ personaldata.spouse.spouse_contact }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Father's Full Name: <u>{{ personaldata.father_name }}</u></td>
					<td>Mother's Full Name: <u>{{ personaldata.mother_name }}</u></td>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<table border="1">
		<tr>
			<th width="100%" style="text-align: left; ">EDUCATIONAL INFORMATION</th>
			<th width="20%">FROM</th>
			<th width="20%">TO</th>
		</tr>
		<tr>
			<td colspan="3" style="padding:0px">
				<table border="1">
					<td width="60%">Name of College: <u>{{ education.college }}</u></td>
					<td width="40%">Degree Obtained: <u>{{ education.college.degree_obtained }}</u></td>
					<td width="20%" align="center">{{ education.college.coll_from }}</td>
					<td width="20%" align="center">{{ education.college.coll_to }}</td>
				</table>
			</td>
		</tr>
		<tr>
			<td width="100%" style="text-align: left; ">Highschool: <u>{{ education.highschool }}</u></th>
			<td width="20%" align="center">{{ education.highschool.hs_from }}</td>
			<td width="20%" align="center">{{ education.highschool.hs_to }}</td>
		</tr>
	</table>
	<br />
	<table border="1">
		<tr>
			<th style="text-align: left">EMERGENCY CONTACT DETAILS</th>
		</tr>
		<tr>
			<th style="text-align: left">Person to Contact in Case of Emergency: <u>Dalisay Armada</u></th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Contact No.: <u>{{ emergency.emergency_contact }}</u></td>
					<td>Relationship: <u>{{ emergency.relationship }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Street: <br /><u>{{ emergency.emergency_street }}</u></td>
					<td>Baranggay: <br /><u>{{ emergency.emergency_baranggay }}</u></td>
					<td>Town: <br /><u>{{ emergency.emergency_town }}</u></td>
					<td>Municipality: <br /><u>{{ emergency.emergency_municipality }}</u></td>
					<td>Zip Code: <br /><u>{{ emergency.emergency_zip }}</u></td>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<table border="1">
		<tr>
			<th width="100%" style="text-align: left">BACKGROUND INFORMATION</th>
			<th width="10%">YES</th>
			<th width="10%">NO</th>
		</tr>
		<tr>
			<td>
				Have you ever been denied an application for any visa or entry into another country?
				<br /><b><i>Explanation:</i></b> <br />
				<u>This is just a sample explanation by Dean Armada</u>
			</td>
			<td align="center" style="padding-top:0px;">{% if backgroundinfo.visa_application %}<img src="{{ ressource.image.url|get64:check }}">{%else%}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td>
			<td align="center" style="padding-top:0px;">{% if backgroundinfo.visa_application %}<img src="{{ ressource.image.url|get64:uncheck }}">{%else%}<img src="{{ ressource.image.url|get64:check }}">{% endif %}</td>
		</tr>
		<tr>
			<td>
				Have you ever been denied or ordered to leave any country?
			</td>
			<td align="center" style="padding-top:0px;">{% if backgroundinfo.detained %}<img src="{{ ressource.image.url|get64:check }}">{%else%}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td>
			<td align="center" style="padding-top:0px;">{% if backgroundinfo.detained %}<img src="{{ ressource.image.url|get64:uncheck }}">{%else%}<img src="{{ ressource.image.url|get64:check }}">{% endif %}</td>
		</tr>
		<tr>
			<td>
				Have you ever been subject of any disciplinary action during an employment contract?
			</td>
			<td align="center" style="padding-top:0px;">{% if backgroundinfo.disciplinary_action %}<img src="{{ ressource.image.url|get64:check }}">{%else%}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %}</td>
			<td align="center" style="padding-top:0px;">{% if backgroundinfo.disciplinary_action %}<img src="{{ ressource.image.url|get64:uncheck }}">{%else%}<img src="{{ ressource.image.url|get64:check }}">{% endif %}</td>
		</tr>
	</table>
	<br />
	<table border="1">
		<tr>
			<th style="text-align: left">NATIONAL CERTIFICATES AND TRAVEL DOCUMENTS</th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>Passport No.: <u>{{ certificatesdocuments.passport }}</u></td>
					<td>Expiry: <u>{{ certificatesdocuments.passport.passport_expiry }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>SBook No.: <u>{{ certificatesdocuments.sbook }}</u></td>
					<td>Expiry: <u>{{ certificatesdocuments.sbook.sbook_expiry }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>COC/COE: <u>{{ certificatesdocuments.coc }}</u></td>
					<td>Expiry: <u>{{ certificatesdocuments.coc.coc_expiry }}</u></td>
					<td>Rank: <u>{{ certificatesdocuments.coc.coc_rank }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>License: <u>{{ certificatesdocuments.license }}</u></td>
					<td>Rank: <u>{{ certificatesdocuments.license.license_rank }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>SRC: <u>{{ certificatesdocuments.src }}</u></td>
					<td>Rank: <u>{{ certificatesdocuments.src.src_rank }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td>GOC: <u>{{ certificatesdocuments.goc }}</u></td>
					<td>Expiry: <u>{{ certificatesdocuments.goc.goc_expiry }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-top:0px">US Visa (C1/D) {% if certificatesdocuments.us_visa.usvisa_type %}<img src="{{ ressource.image.url|get64:check }}">{% else %} <img src="{{ ressource.image.url|get64:uncheck }}"> {% endif %} Yes {% if certificatesdocuments.us_visa.usvisa_type %}<img src="{{ ressource.image.url|get64:uncheck }}">{% else %} <img src="{{ ressource.image.url|get64:check }}"> {% endif %} No</td>
					<td>Expiry: <u>{{ certificatesdocuments.us_visa.usvisa_expiry }}</u></td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-top:0px">Schengen Visa (Type C) {% if certificatesdocuments.schengen_visa.schengen_type %}<img src="{{ ressource.image.url|get64:check }}">{% else %} <img src="{{ ressource.image.url|get64:uncheck }}"> {% endif %} Yes {% if certificatesdocuments.schengen_visa.schengen_type %}<img src="{{ ressource.image.url|get64:uncheck }}">{% else %} <img src="{{ ressource.image.url|get64:check }}"> {% endif %} No</td>
					<td>Expiry: <u>{{ certificatesdocuments.schengen_visa.schengen_expiry }}</u></td>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<table border="1">
		<tr>
			<th style="text-align: left">FLAG DOCUMENTS {% for flags in personaldata.flags.all %} {{ flags }} {% endfor %} </th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;">
						{% if cayman_islands %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %} 
						Cayman Islands
					</td>
					<td style="padding-bottom:5px;">
						{% if marshall_islands %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %} 
						Marshall Islands
					</td>
					<td style="padding-bottom:5px;">
						{% if liberia %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %} 
						Liberia
					</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;">
						{% if cyprus %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %} 
						Cyprus
					</td>
					<td style="padding-bottom:5px;">
						{% if singapore %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %} 
						Singapore
					</td>
					<td style="padding-bottom:5px;">
						{% if greek %}<img src="{{ ressource.image.url|get64:check }}">{% else %}<img src="{{ ressource.image.url|get64:uncheck }}">{% endif %} 
						Greek
					</td>
				</table>
			</td>
		</tr>
	</table>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<table border="1">
		<tr>
			<th style="text-align: left">TRAINING AND OTHER CERTIFICATES</th>
		</tr>
		<tr>
			<th style="text-align: left"><i>Certificate of Proficiency</i></th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> COP-BT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> COP-BTOC</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-ATOT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-ATCT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-PFRB</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-AFF</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> COP-MEFA</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> COP-MECA</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-SSO</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-PSCRB</td>
					<td style="padding-bottom:5px;" colspan="2"><img src="{{ ressource.image.url|get64:uncheck }}"> COP-SSA/SDSD</td>
				</table>
			</td>
		</tr>
		<tr>
			<th style="text-align: left"><i>Segregate on Process</i></th>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> BT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> PSCRB</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> AFF</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> MEFA</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> MECA</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> PFRB</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> SSBT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> BRM</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> BTM</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> BTOC</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> SBFF</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ATOT</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ATCT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> INMARSAT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> GMDSS</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> PADAMS</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> HAZMAT</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> COW/IGS</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ERS/ERM</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> SRROC</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> FRAMO</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> SOS</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> SOC</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> BWK/EWK</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> RSC</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ISM</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> SSMEP</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:check }}"> ACNI</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> SSA/SDSD</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ARPA/ROPA</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ECDIS GENERIC</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> MLC - Deck</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> MARPOL I-VI</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> MLC - Engine</td>
					<td style="padding-bottom:5px;"><img src="{{ ressource.image.url|get64:uncheck }}"> ECDIS Specific</td>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					
					<td style="padding-bottom:5px;" colspan="2"><img src="{{ ressource.image.url|get64:uncheck }}"> SHIP VETTING</td>
					<td style="padding-bottom:5px;" colspan="2"><img src="{{ ressource.image.url|get64:check }}"> SHIP HANDLING</td>
					<td style="padding-bottom:5px;" colspan="2"><img src="{{ ressource.image.url|get64:check }}"> MARITIME ENG.</td>
					
				</table>
			</td>
		</tr>	
	</table>
	<br />
	<table border="1">
		<tr>
			<th align="left">ESSAY <i>(52 words)</i></th>
		</tr>
		<tr>
			<td>{{ appform.essay }}</td>
		</tr>
	</table>
	<br />
	<table border="1">
		<tr>
			<th align="left">CERTIFICATION</i></th>
		</tr>
		<tr>
			<td>
				<i>
					<b>1.</b> I certify that all information I have provided on this Application Form is, to the best of my knowledge true and correct. <br />
					<b>2.</b> I agree that if I have withheld or misrepresented any information on this Application Form. I alone am responsible and accountable for any consequence of such withholding or mispresentation.<br />
					<b>3.</b> I understand that the information I provided this Application Form shall remain confidential, but I may be held liable for any untruthful statements made therein
				</i>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px;">
				<table border="1">
					<td valign="top"><b>Printed Name:</b> <br ><u>{{ personaldata.first_name }} {{ personaldata.middle_name }} {{ personaldata.last_name }}</u></td>
					<td style="padding-bottom:5px;" colspan="2"><b>Signature:</b> <br ><img src="{{ ressource.image.url|get64:signature }}"></td>
					<td valign="top"><b>Date:</b> <br /> <u>{{ appform.app_details }}</u></td>
				</table>
			</td>
		</tr>	
	</table>
</body>
</html>
