{% load widget_tweaks %}
{% load static %}

{% include "header.html" %}
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outhated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    


    <div id="header">
      <div class="bs-doc-header">
        <div class="container">
          <h1>Step 1 : APPLICATION FORM</h1>
          <h4>Explore your opportunities here!</h4>
          <div class="image-holder pull-right"><img src="{% static 'img/mascot.png' %}" ></div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="bs-docs-section" id='application-form'>
            <form method="POST" id="myform" class="form-horizontal" autocomplete="off" action="{% url 'application_form' %}">
              {% csrf_token%}
              {% include "application_form/error_validations.html" %}
              <!-- <div class="form-group">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-6 padding-negator">
                      <h3><img src="{% static 'img/small_logo.png' %}"></h3>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ appdetails_form.application_date|add_class:"form-control application-date"|attr:"placeholder:Date of Application"|attr:"readonly" }}
                      {{ appdetails_form.application_date.errors }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ appdetails_form.position_applied|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                      {{ appdetails_form.position_applied.errors }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ appdetails_form.alternative_position|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                      {{ appdetails_form.alternative_position.errors }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="text-align:right;">
                  <div class="form-group">
                    <div class="pull-right" id="picture-container">
                      {% if request.POST %}  
                        <img src="{{request.POST.application_picture}}">
                        <input type="text" name="application_picture" value="{{request.POST.application_picture}}" style="display:none">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#webcam" style="width:220px">Change Picture</button>

                  </div>
                  
                </div>
              </div>
              <h3 id='step-2' style="color: #02be9b;">How did you learn about Manship?</h3>
              {{ appsource_form.source.errors }}
              {{ appsource_form.source }} -->
              <h3 id='step-3' style="color: #02be9b;">Personal Data</h3>
              <div class="form-group">
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" id="last_name" name="last_name" class="form-control" placeholder="Last Name"> -->
                  {{ personaldata_form.last_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"id:last_name"|attr:"placeholder:Last Name" }}
                  {{ personaldata_form.last_name.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" id="first_name" name="first_name" class="form-control" placeholder="First Name"> -->
                  {{ personaldata_form.first_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"id:first_name"|attr:"placeholder:First Name" }}
                  {{ personaldata_form.first_name.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" id="middle_name" name="middle_name" class="form-control" placeholder="Middle Name"> -->
                  {{ personaldata_form.middle_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"id:middle_name"|attr:"placeholder:Middle Name" }}
                  {{ personaldata_form.middle_name.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control date birth_date" name="birth_date" placeholder="Date of Birth"> -->
                  {{ personaldata_form.birth_date|add_class:"form-control date birth_date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Birth" }}
                  {{ personaldata_form.birth_date.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control age" name="age" placeholder="Age" readonly=""> -->
                  {{ personaldata_form.age|add_class:"form-control age"|attr:"data-toggle:tooltip"|attr:"placeholder:Age"|attr:"readonly"|attr:"title: Fill up your Date of Birth" }}
                  {{ personaldata_form.age.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="birth_place" placeholder="Place of Birth"> -->
                  {{ personaldata_form.birth_place|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Place of Birth" }}
                  {{ personaldata_form.birth_place.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="landline_number_1" placeholder="Landline No. 1"> -->
                  {{ personaldata_form.landline_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 1" }}
                  {{ personaldata_form.landline_1.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="mobile_number_1" placeholder="Mobile No. 1"> -->
                  {{ personaldata_form.mobile_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 1" }}
                  {{ personaldata_form.mobile_1.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="email" data-toggle="tooltip" class="form-control" name="email_address_1" placeholder="Email Address 1"> -->
                  {{ personaldata_form.email_address_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Email Address 1" }}
                  {{ personaldata_form.email_address_1.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="landline_number_2" placeholder="Landline No. 2"> -->
                  {{ personaldata_form.landline_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 2" }}
                  {{ personaldata_form.landline_2.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="mobile_number_2" placeholder="Mobile No. 2"> -->
                  {{ personaldata_form.mobile_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 2" }}
                  {{ personaldata_form.mobile_2.errors }}
                </div>
                <div class="col-md-4">
                  <!-- <input type="email" data-toggle="tooltip" class="form-control" name="email_address_2" placeholder="Email Address 2"> -->
                  {{ personaldata_form.email_address_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Email Address 2" }}
                  {{ personaldata_form.email_address_2.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="preferred_vessel" placeholder="Preferred Type of Vessel"> -->
                  {{ personaldata_form.preferred_vessel_type|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Preferred Type of Vessel" }}
                  {{ personaldata_form.preferred_vessel_type.errors }}
                </div>
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control date month-only" name="availability" id="availability" placeholder="Date of Availability"> -->
                  {{ personaldata_form.availability_date|add_class:"form-control date month-only"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Availability" }}
                  {{ personaldata_form.availability_date.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="sss" placeholder="S.S.S. No."> -->
                  {{ personaldata_form.sss|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:S.S.S. No." }}
                  {{ personaldata_form.sss.errors }}
                </div>
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="philhealth" placeholder="Philhealth No."> -->
                  {{ personaldata_form.philhealth|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Philhealth No." }}
                  {{ personaldata_form.philhealth.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="tin" placeholder="T.I.N."> -->
                  {{ personaldata_form.tin|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:T.I.N." }}
                  {{ personaldata_form.tin.errors }}
                </div>
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="pag_ibig" placeholder="Pagibig No."> -->
                  {{ personaldata_form.pagibig|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Pagibig No." }}
                  {{ personaldata_form.pagibig.errors }}
                </div>
              </div>
              <div class="form-group" >
                <div class="form-group bottom-zero">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <i><u>Permanent Address</u></i>
                      <span class="search-zip pull-right" data-params="permanent" style="">Search zip code</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <!-- <input type="text" data-toggle="tooltip" id="permanent_street" name="permanent_street" class="form-control" placeholder="Street"> -->
                  {{ permanentaddress_form.permanent_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street"|attr:"id:permanent_street" }}
                  {{ permanentaddress_form.permanent_street.errors }}
                </div>
                <div class="col-md-3">
                  <!-- <input type="text" data-toggle="tooltip" id="permanent_baranggay" name="permanent_baranggay"  class="form-control" placeholder="Baranggay"> -->
                  {{ permanentaddress_form.permanent_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Baranggay"|attr:"id:permanent_baranggay" }}
                  {{ permanentaddress_form.permanent_baranggay.errors }}
                </div>
                <div class="col-md-2">
                  <!-- <select data-toggle="tooltip" id="permanent_town" name="permanent_town" class="form-control">
                    <option selected>Town</option>
                    <option>Bustos</option>
                    <option>Marilao</option>
                    <option>Bocaue</option>
                    <option>Plaridel</option>
                    <option>Sta. Maria</option>
                  </select> -->
                  <!-- <input type="text" data-toggle="tooltip" id="permanent_town" class="form-control" placeholder="Town"> -->
                  {{ permanentaddress_form.permanent_town|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Town"|attr:"id:permanent_town" }}
                  {{ permanentaddress_form.permanent_town.errors }}
                </div>
                <div class="col-md-2">
                  <!-- <select data-toggle="tooltip" id="permanent_municipality" name="permanent_municipality" class="form-control">
                    <option selected>Municipality</option>
                    <option>Bacacay</option>
                    <option>Camalig</option>
                    <option>Daraga</option>
                    <option>Guinobatan</option>
                    <option>Jovellar</option>
                  </select> -->
                  <!-- <input type="text" data-toggle="tooltip" id="permanent_municipality" class="form-control" placeholder="Municipality"> -->
                  {{ permanentaddress_form.permanent_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Municipality"|attr:"id:permanent_municipality" }}
                  {{ permanentaddress_form.permanent_municipality.errors }}
                </div>
                <div class="col-md-2">
                  <!-- <input type="text" data-toggle="tooltip" id="permanent_zip" name="permanent_zip" class="form-control" placeholder="ZIP Code"> -->
                  {{ permanentaddress_form.permanent_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:ZIP Code"|attr:"id:permanent_zip" }}
                  {{ permanentaddress_form.permanent_zip.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                <input type="checkbox" id="same_address"> Same as above
                </div>
              </div>
              <div class="form-group">
                <div class="form-group bottom-zero">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <i><u>Current Address</u></i>
                      <span class="search-zip pull-right" data-params="current" style="">Search zip code</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <!-- <input type="text" data-toggle="tooltip" id="current_street" name="current_street" class="form-control" placeholder="Street"> -->
                  {{ currentaddress_form.current_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street"|attr:"id:current_street" }}
                  {{ currentaddress_form.current_street.errors }}
                </div>
                <div class="col-md-3">
                  <!-- <input type="text" data-toggle="tooltip" id="current_baranggay" name="current_baranggay" class="form-control" placeholder="Baranggay"> -->
                  {{ currentaddress_form.current_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Baranggay"|attr:"id:current_baranggay" }}
                  {{ currentaddress_form.current_baranggay.errors }}
                </div>
                <div class="col-md-2">
                 <!--  <select data-toggle="tooltip" id="current_town" name="current_town" class="form-control">
                    <option selected>Town</option>
                    <option>Bustos</option>
                    <option>Marilao</option>
                    <option>Bocaue</option>
                    <option>Plaridel</option>
                    <option>Sta. Maria</option>
                  </select> -->
                  <!-- <input type="text" data-toggle="tooltip" id="current_town" class="form-control" placeholder="Town"> -->
                  {{ currentaddress_form.current_town|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Town"|attr:"id:current_town" }}
                  {{ currentaddress_form.current_town.errors }}
                </div>
                <div class="col-md-2">
                 <!--  <select data-toggle="tooltip" id="current_municipality" name="current_municipality" class="form-control">
                    <option selected>Municipality</option>
                    <option>Bacacay</option>
                    <option>Camalig</option>
                    <option>Daraga</option>
                    <option>Guinobatan</option>
                    <option>Jovellar</option>
                  </select> -->
                  <!-- <input type="text" data-toggle="tooltip" id="current_municipality" class="form-control" placeholder="Municipality"> -->
                  {{ currentaddress_form.current_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Municipality"|attr:"id:current_municipality" }}
                  {{ currentaddress_form.current_municipality.errors }}
                </div>
                <div class="col-md-2">
                  <!-- <input type="text" data-toggle="tooltip" id="current_zip" name="current_zip" class="form-control" placeholder="ZIP Code"> -->
                  {{ currentaddress_form.current_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:ZIP code"|attr:"id:current_zip" }}
                  {{ currentaddress_form.current_zip.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="civil_status" placeholder="Civil Status"> -->
                  {{ personaldata_form.civil_status|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                  {{ personaldata_form.civil_status.errors }}
                </div> 
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control date" name="date_married" placeholder="Date Married"> -->
                  {{ personaldata_form.married_date|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Marriage" }}
                  {{ personaldata_form.married_date.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="spouse_maiden_name" placeholder="Spouse's Maiden Name"> -->
                  {{ spouse_form.name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Maiden Name" }}
                  {{ spouse_form.name.errors }}
                </div>
                <div class="col-md-3">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="spouse_birthday" placeholder="Spouse's Birthday"> -->
                  {{ spouse_form.birthdate|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's birthday" }}
                  {{ spouse_form.birthdate.errors }}
                </div>
                <div class="col-md-3">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="spouse_contact" placeholder="Spouse's Contact No."> -->
                  {{ spouse_form.contact|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Contact No." }}
                  {{ spouse_form.contact.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="father_full_name" placeholder="Father's Full Name(include MIDDLE NAME)"> -->
                  {{ personaldata_form.father_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Father's Full Name(include MIDDLE NAME)" }}
                  {{ personaldata_form.father_name.errors }}
                </div>
                <div class="col-md-6">
                  <!-- <input type="text" data-toggle="tooltip" class="form-control" name="mother_full_name" placeholder="Mother's Maiden Name(include MIDDLE NAME)"> -->
                  {{ personaldata_form.mother_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mother's Full Name(include MIDDLE NAME)" }}
                  {{ personaldata_form.mother_name.errors }}
                </div>
              </div>





<div class="modal fade" id="webcam" tabindex="-1" role="dialog" aria-labelledby="PictureLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="seaserviceLabel"><b>TAKE PICTURE</b></h4>
          </div>
          <div class="modal-body webcam-container" style="text-align:center">
          </div>
          <div class="modal-footer">
            <center><button type="button" class="btn btn-info half-width" id="start-application" onClick="take_snapshot()" data-dismiss="modal">Start Application</button></center>
          </div>
        </div>
      </div>
    </div>
              <button class="btn btn-success form-control submit-application" >Submit Application</button>
              <br /> &nbsp;
            </form>
          </div>
        </div>
        {% include "application_form/sidebar.html" %}
      </div>
    </div>


    <div id="footer">
      <div class="container">
        <p>Princess Building, 104 Esteban Street, Legaspi Village, Makati City 1229, Philippines<br>
        Tel No.: +63 2 892 4071 to 74; Fax No.: +63 2 816 6993<br>
        Website:<a href="http://www.manship.com" title="Click here!" target="_blank" style="text-decoration: none; color: #fff;">&nbsp;www.manship.com</a> 
        E-mail:<a href="mailto:recruitment@manship.com" title="Click here!" target="_blank" style="text-decoration: none; color: #fff;">&nbsp;recruitment@manship.com</a></p>
        <p>&copy 2015 Manila Shipmanagement & Manning, Inc. All rights reserved.</p>
      </div>
    </div>

    {% include "footer.html" %}