{% load widget_tweaks %}
{% load static %}

{% include "header.html" %}
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outhated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    


    <div id="header">
      <div class="bs-doc-header">
        <div class="container">
          <h1>Step 1 : APPLICATION FORM</h1>
          <h4>Join the Manship Team!</h4>
          <div class="image-holder pull-right"><img src="{% static 'img/mascot.png' %}" ></div>
        </div>
      </div>
    </div>

    <form method="POST" id="myform" class="form-horizontal" autocomplete="off" action="{% url 'application_form' %}">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="bs-docs-section" id='application-form'>
              {% csrf_token%}
              {% include "application_form/error_validations.html" %}
              <div class="form-group">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="col-md-6 padding-negator">
                      <h3><img src="{% static 'img/small_logo.png' %}"></h3>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ appdetails_form.application_date|add_class:"form-control application-date"|attr:"placeholder:Date of Application"|attr:"readonly" }}
                      {{ appdetails_form.application_date.errors }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ appdetails_form.position_applied|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                      {{ appdetails_form.position_applied.errors }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      {{ appdetails_form.alternative_position|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                      {{ appdetails_form.alternative_position.errors }}
                    </div>
                  </div>
                </div>
                <div class="col-md-6" style="text-align:right;">
                  <div class="form-group">
                    <div class="pull-right" id="picture-container">
                      {% if request.POST %}  
                        <img src="{{request.POST.application_picture}}">
                        <input type="text" name="application_picture" value="{{request.POST.application_picture}}" style="display:none">
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#webcam" style="width:220px">Change Picture</button>

                  </div>
                  
                </div>
              </div>
              <h3 id='step-2' style="color: #02be9b;">How did you learn about Manship?</h3>
              {{ appsource_form.source.errors }}
              {{ appsource_form.source }}
              

              <h3 id='step-3' style="color: #02be9b;">Personal Data</h3>
              <div class="form-group">
                <div class="col-md-4">
                  
                  {{ personaldata_form.last_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"id:last_name"|attr:"placeholder:Last Name" }}
                  {{ personaldata_form.last_name.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.first_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"id:first_name"|attr:"placeholder:First Name" }}
                  {{ personaldata_form.first_name.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.middle_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"id:middle_name"|attr:"placeholder:Middle Name" }}
                  {{ personaldata_form.middle_name.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  
                  {{ personaldata_form.birth_date|add_class:"form-control date birth_date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Birth" }}
                  {{ personaldata_form.birth_date.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.age|add_class:"form-control age"|attr:"data-toggle:tooltip"|attr:"placeholder:Age"|attr:"readonly"|attr:"title: Fill up your Date of Birth" }}
                  {{ personaldata_form.age.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.birth_place|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Place of Birth" }}
                  {{ personaldata_form.birth_place.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  
                  {{ personaldata_form.landline_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 1" }}
                  {{ personaldata_form.landline_1.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.mobile_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 1" }}
                  {{ personaldata_form.mobile_1.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.email_address_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Email Address 1" }}
                  {{ personaldata_form.email_address_1.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  
                  {{ personaldata_form.landline_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 2" }}
                  {{ personaldata_form.landline_2.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.mobile_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 2" }}
                  {{ personaldata_form.mobile_2.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ personaldata_form.email_address_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Email Address 2" }}
                  {{ personaldata_form.email_address_2.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ personaldata_form.preferred_vessel_type|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Preferred Type of Vessel" }}
                  {{ personaldata_form.preferred_vessel_type.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ personaldata_form.availability_date|add_class:"form-control date month-only"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Availability" }}
                  {{ personaldata_form.availability_date.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ personaldata_form.sss|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:S.S.S. No." }}
                  {{ personaldata_form.sss.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ personaldata_form.philhealth|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Philhealth No." }}
                  {{ personaldata_form.philhealth.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ personaldata_form.tin|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:T.I.N." }}
                  {{ personaldata_form.tin.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ personaldata_form.pagibig|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Pagibig No." }}
                  {{ personaldata_form.pagibig.errors }}
                </div>
              </div>
              <div class="form-group" >
                <div class="form-group bottom-zero">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <u>Permanent Address</u>
                      <span class="search-zip pull-right" data-params="permanent" style="">Search zip code</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  
                  {{ permanentaddress_form.permanent_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:House number and Street"|attr:"id:permanent_street" }}
                  {{ permanentaddress_form.permanent_street.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ permanentaddress_form.permanent_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Barangay"|attr:"id:permanent_baranggay" }}
                  {{ permanentaddress_form.permanent_baranggay.errors }}
                </div>
                <div class="col-md-4">
                  {{ permanentaddress_form.permanent_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:City/Municipality"|attr:"id:permanent_municipality" }}
                  {{ permanentaddress_form.permanent_municipality.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ permanentaddress_form.permanent_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:ZIP Code"|attr:"id:permanent_zip" }}
                  {{ permanentaddress_form.permanent_zip.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                <input type="checkbox" id="same_address"> <label for="same_address">Same as above</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group bottom-zero">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <u>Current Address</u>
                      <span class="search-zip pull-right" data-params="current" style="">Search zip code</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  
                  {{ currentaddress_form.current_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:House number and Street"|attr:"id:current_street" }}
                  {{ currentaddress_form.current_street.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ currentaddress_form.current_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Barangay"|attr:"id:current_baranggay" }}
                  {{ currentaddress_form.current_baranggay.errors }}
                </div>
                <div class="col-md-4">
      
                  {{ currentaddress_form.current_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:City/Municipality"|attr:"id:current_municipality" }}
                  {{ currentaddress_form.current_municipality.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ currentaddress_form.current_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:ZIP code"|attr:"id:current_zip" }}
                  {{ currentaddress_form.current_zip.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ personaldata_form.civil_status|add_class:"form-control first-choice"|attr:"data-toggle:tooltip" }}
                  {{ personaldata_form.civil_status.errors }}
                </div> 
                <div class="col-md-6">
                  
                  {{ personaldata_form.married_date|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Marriage" }}
                  {{ personaldata_form.married_date.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ spouse_form.spouse_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Maiden Name" }}
                  {{ spouse_form.spouse_name.errors }}
                </div>
                <div class="col-md-3">
                  
                  {{ spouse_form.birthdate|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's birthday" }}
                  {{ spouse_form.birthdate.errors }}
                </div>
                <div class="col-md-3">
                  
                  {{ spouse_form.spouse_contact|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Spouse's Contact No." }}
                  {{ spouse_form.spouse_contact.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ personaldata_form.father_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Father's Full Name(include MIDDLE NAME)" }}
                  {{ personaldata_form.father_name.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ personaldata_form.mother_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mother's Full Name(include MIDDLE NAME)" }}
                  {{ personaldata_form.mother_name.errors }}
                </div>
              </div>


              <h3 id='step-4' style="color: #02be9b;">Educational Information</h3>
              <div class="form-group">
                <div class="col-md-4">
                  
                  {{ college_form.college|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:College" }}
                  {{ college_form.college.errors }}
                </div>
                <div class="col-md-4">
                  
                  {{ college_form.degree_obtained|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Degree Obtained" }}
                  {{ college_form.degree_obtained.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ college_form.coll_from|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:From" }}
                  {{ college_form.coll_from.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ college_form.coll_to|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:To" }}
                  {{ college_form.coll_to.errors }}
                </div>
              </div>
              
              
              <div class="form-group">
                <div class="col-md-8">
                  
                  {{ highschool_form.highschool|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Highschool" }}
                  {{ highschool_form.highschool.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ highschool_form.hs_from|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:From" }}
                  {{ highschool_form.hs_from.errors }}
                </div>
                <div class="col-md-2">
                  
                  {{ highschool_form.hs_to|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:To" }}
                  {{ highschool_form.hs_to.errors }}
                </div>
              </div>

              <h3 id='step-5' style="color: #02be9b;">Emergency Contact Details</h3>
              <div class="form-group">
                <div class="col-md-6">

                  {{ emergencycontact_form.emergency_name|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Person to Contact in Case of Emergency" }}
                  {{ emergencycontact_form.emergency_name.errors }}
                </div>
                <div class="col-md-3">

                  {{ emergencycontact_form.emergency_contact|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Contact No." }}
                  {{ emergencycontact_form.emergency_contact.errors }}
                </div>
                <div class="col-md-3">

                  {{ emergencycontact_form.relationship|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Relationship" }}
                  {{ emergencycontact_form.relationship.errors }}
                </div>
              </div>
              <div class="form-group bottom-zero">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <span class="search-zip pull-right" data-params="emergency" style="">Search zip code</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">

                  {{ emergencycontact_form.emergency_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:House number and Street" }}
                  {{ emergencycontact_form.emergency_street.errors }}
                </div>
                <div class="col-md-2">

                  {{ emergencycontact_form.emergency_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Barangay"|attr:"id:emergency_baranggay" }}
                  {{ emergencycontact_form.emergency_baranggay.errors }}
                </div>
                <div class="col-md-4">
                  {{ emergencycontact_form.emergency_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:City/Municipality"|attr:"id:emergency_municipality" }}
                  {{ emergencycontact_form.emergency_municipality.errors }}
                </div>
                <div class="col-md-2">

                  {{ emergencycontact_form.emergency_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Zip Code" }}
                  {{ emergencycontact_form.emergency_zip.errors }}
                </div>
              </div>
             
              <h3 id='step-6'><a href = "#seaservice" role="button" data-toggle="modal" rel="tooltip" data-original-title="Click here to add more sea services" class="btn btn-info btn-lg sea-service-button form-control">Sea Service</a></h3>

              <h3 id='step-7' style="color: #02be9b;">Background Information</h3>
                <p>
                  {{ backgroundinfo_form.visa_application.errors }}
                  A.) Have you ever been denied an application for any visa or entry into another country?
                  {{ backgroundinfo_form.visa_application }}
                </p>
                
                <p>
                  {{ backgroundinfo_form.detained.errors }}
                  B.) Have you ever been detained or ordered to leave any country?
                  {{ backgroundinfo_form.detained }}
                </p>
             
                
                <p>
                  {{ backgroundinfo_form.disciplinary_action.errors }}
                  C.) Have you ever been subject of any disciplinary action during an employment contract?
                  {{ backgroundinfo_form.disciplinary_action }}
                </p>

                
              <h3 id='step-8' style="color: #02be9b;">National Certificates and Travel Documents</h3>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ passport_form.passport|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Passport No." }}
                  {{ passport_form.passport.errors }} 
                </div>
                <div class="col-md-6">
                  
                  {{ passport_form.passport_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Expiry" }}
                  {{ passport_form.passport_expiry.errors }} 
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ sbook_form.sbook|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:SBook No." }}
                  {{ sbook_form.sbook.errors }} 
                </div>
                <div class="col-md-6">
                  
                  {{ sbook_form.sbook_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Expiry" }}
                  {{ sbook_form.sbook_expiry.errors }} 
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  
                  {{ coc_form.coc|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:COC/COE" }}
                  {{ coc_form.coc.errors }} 
                </div>
                <div class="col-md-4">
                  
                  {{ coc_form.coc_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder: Expiry" }}
                  {{ coc_form.coc_expiry.errors }} 
                </div>
                <div class="col-md-4">
                  
                  {{ coc_form.coc_rank|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Rank" }}
                  {{ coc_form.coc_rank.errors }} 
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ license_form.license|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:License" }}
                  {{ license_form.license.errors }} 
                </div>
                <div class="col-md-6">
                  
                  {{ license_form.license_rank|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Rank" }}
                  {{ license_form.license_rank.errors }} 
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ src_form.src|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:SRC" }}
                  {{ src_form.src.errors }} 
                </div>
                <div class="col-md-6">
                  
                  {{ src_form.src_rank|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Rank" }}
                  {{ src_form.src_rank.errors }} 
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ goc_form.goc|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:GOC" }}
                  {{ goc_form.goc.errors }} 
                </div>
                <div class="col-md-6">
                  
                  {{ goc_form.goc_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Expiry" }}
                  {{ goc_form.goc_expiry.errors }} 
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  US Visa(C1/D)
                 
                  {{ usvisa_form.usvisa_type }}
                  {{ usvisa_form.usvisa_type.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ usvisa_form.usvisa_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Expiry" }}
                  {{ usvisa_form.usvisa_expiry.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  Schengen Visa(Type C)

                  {{ schengenvisa_form.schengen_type }}
                  {{ schengenvisa_form.schengen_type.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ schengenvisa_form.schengen_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Expiry" }}
                  {{ schengenvisa_form.schengen_expiry.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  
                  {{ yellowfever_form.yellow_fever|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Yellow Fever" }}
                  {{ yellowfever_form.yellow_fever.errors }}
                </div>
                <div class="col-md-6">
                  
                  {{ yellowfever_form.yellow_fever_expiry|add_class:"form-control date"|attr:"data-toggle:tooltip"|attr:"placeholder:Expiry" }}
                  {{ yellowfever_form.yellow_fever_expiry.errors }}
                </div>
              </div>
              <h3 id='step-9' style="color: #02be9b;">Flag Documents</h3>
              <p>Please check the box if you possess any of the specified flag document</p>
              <div class="form-group">
                <div class="col-md-12">
                  {# personaldata_form.flags.errors #}
                </div>
                {% for flags in personaldata_form.flags %}
                  <div class="col-md-2 padding-right-negator">
                    {{ flags }}
                  </div>
                {% endfor %}
              </div>

              <h3 id='step-10' style="color: #02be9b;">Training and Other Certificates</h3>
              <p>Please check the box if you possess any of the specified flag document</p>
              <div class="form-group">
                <div class="col-md-12">
                  {{ personaldata_form.training_certificates.errors }}
                </div>
                {% for certs in personaldata_form.training_certificates %}
                  <div class="col-md-6">
                    {{ certs }}
                  </div>
                {% endfor %}
              </div>

              <h3 id='step-11' style="color: #02be9b;">Essay</h3>
              <p>Kindly say something about yourself, your qualifications and any other reasons why we should hire you.</p>
              <p><b>(Take note: Essay must be at least 50 words)</b></p>
              <p><b>TOTAL WORD COUNT: <span id="display_count">0</span> words</b></p>
              {{ app_form.essay.errors }}
              <p>
                <!-- <textarea class="form-control essay" style="height:200px" name="essay" id="essay"></textarea> -->
                {{ app_form.essay }}          
              </p>
              <div class="certification">
                <h3 id='step-12' style="margin-top:0px; color: #02be9b;">Certification</h3>
                <p>1.) I certify that all information I have provided on this Application Form is, to the best of my knowledge true and correct</p>
                <p>2.) I agree that if I have withheld or misrepresented any information on this Application Form. I alone am responsible and accountable for any consequence of such withholding or misrepresentation</p>
                <p>3.) I understand that the information I provided in this Application Form shall remain confidential, but I may be held liable for any untruthful statements made therein</p>
                <div class="form-group">
                  <div class="col-md-3">
                    <label class="control-label">Printed Name:</label>
                    <input type="text" data-toggle="tooltip" id="full_name" class="form-control certification-input" readonly="" placeholder="Printed Name" >
                  </div>
                  <div class="col-md-3">
                    <label class="control-label">Signature:</label>
                    <input type="text" data-toggle="modal" data-target="#signature" class="form-control certification-input" name="signature" placeholder="Signature" readonly="">
                  </div>
                  <div class="col-md-6">
                    <label class="control-label">Date:</label>
                    <input type="text" data-toggle="tooltip" class="form-control certification-input application-date" readonly="" placeholder="Date" >
                  </div>
                </div>
              </div>
              <br />
              <button class="btn btn-success form-control submit-application" >Submit Application</button>
              <br /> &nbsp;
            </div>
<div class="modal fade" id="webcam" tabindex="-1" role="dialog" aria-labelledby="PictureLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="seaserviceLabel"><b>TAKE PICTURE</b></h4>
      </div>
      <div class="modal-body webcam-container" style="text-align:center">
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-info half-width" id="start-application" onClick="take_snapshot()" data-dismiss="modal">Start Application</button></center>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="seaservice" tabindex="-1" role="dialog" aria-labelledby="SeaServiceLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="seaserviceLabel"><b>SEA SERVICE ON LAST TWO RANKS</b><span class="refresh"></span></h4>
      </div>
      <div class="modal-body">
        <div style="padding-left: 15px">
          <h5><b>PLEASE READ INSTRUCTIONS CAREFULLY BEFORE FILLING OUT</b></h5>
          <h5>1.) <i>Take note:</i> <b>If you have no Sea Service, do not put anything. Just click on "PROCEED TO APPLICATION" at the bottom of the page</b></h5>
          <h5>2.) <i>Complete all fields from Vessel Name to Cause of Discharge</i></h5>
          <h5>4.) <i>Take note:</i> <b>Click "Clear Row" to clear the required fields within the row.</b></h5>
          <h5>4.) <i>Take note:</i> <b>Click on "Proceed to Application" at the bottom of the page to go to the next step.</b></h5>
          <h5 class="validations"></h5>
        </div>
        
        <div class="table-responsive">
          <table class="table table-striped sea-services">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Vessel Name</th>
                <th>Vessel Type</th>
                <th>Flag</th>
                <th>GRT</th>
                <th>DWT</th>
                <th>Year Built</th>
                <th>Engine Type</th>
                <th>HP</th>
                <th>KW</th>
                <th>Manning Agency</th>
                <th>Principal / Shipowner</th>
                <th>Date Joined</th>
                <th>Date Left</th>
                <th>Rank</th>
                <th>Cause of Discharge</th>
              </tr>
            </thead>
            <tbody>
              {{ seaservice_form.management_form }}
              {% for seaservice in seaservice_form %}
                <tr>
                  <td></td>
                  <td></td>
                  <td><button type='button' class='btn btn-warning clear-row'>Clear Row</button></td>
                  <td>{{ seaservice.vessel_name|attr:"data-toggle:tooltip"|attr:"Placeholder:Vessel Name" }}</td>
                  <td>{{ seaservice.vessel_type|attr:"data-toggle:tooltip"|attr:"Placeholder:Vessel Type"|add_class:"vtype" }}</td>
                  <td>{{ seaservice.flag|attr:"data-toggle:tooltip"|attr:"Placeholder:Flag"|add_class:"flag" }}</td>
                  <td>{{ seaservice.grt|attr:"data-toggle:tooltip"|attr:"Placeholder:GRT"|add_class:"grt" }}</td>
                  <td>{{ seaservice.dwt|attr:"data-toggle:tooltip"|attr:"Placeholder:DWT"|add_class:"dwt" }}</td>
                  <td>{{ seaservice.year_built|attr:"data-toggle:tooltip"|attr:"Placeholder:Year Built" }}</td>
                  <td>{{ seaservice.engine_type|attr:"data-toggle:tooltip"|attr:"Placeholder:Engine Type" }}</td>
                  <td>{{ seaservice.hp|attr:"data-toggle:tooltip"|attr:"Placeholder:HP"|add_class:"hp" }}</td>
                  <td>{{ seaservice.kw|attr:"data-toggle:tooltip"|attr:"Placeholder:KW"|add_class:"kw" }}</td>
                  <td>{{ seaservice.manning_agency|attr:"data-toggle:tooltip"|attr:"Placeholder:Manning Agency"|add_class:"manning_agency"|add_class:"td-150" }}</td>
                  <td>{{ seaservice.principal|attr:"data-toggle:tooltip"|attr:"Placeholder:Principal / Shipowner"|add_class:"td-170" }}</td>
                  <td>{{ seaservice.date_joined|add_class:"date date-joined"|attr:"data-toggle:tooltip"|attr:"Placeholder:Date Joined" }}</td>
                  <td>{{ seaservice.date_left|add_class:"date date-left"|attr:"data-toggle:tooltip"|attr:"Placeholder:Date Left"|attr:"disabled" }}</td>
                  <td style="display:none">{{ seaservice.duration|add_class:"duration"|attr:"data-toggle:tooltip"|attr:"Placeholder:Days"|attr:"readonly" }}</td>
                   <td>{{ seaservice.rank|attr:"data-toggle:tooltip"|attr:"Placeholder:Rank"|add_class:"rank" }}</td>
                   <td>{{ seaservice.cause_of_discharge|attr:"data-toggle:tooltip"|add_class:"first-choice cause_of_discharge" }}</td>
                </tr>
              {% endfor %}
              <tr>
                  <td></td>
                  <td><button type='button' class='btn btn-info add-row'>Add</button></td>
                  <td><button type='button' class='btn btn-warning clear-row'>Clear Row</button></td>
                  <td><input Placeholder="Vessel Name" data-toggle="tooltip" id="id_form-9-vessel_name" maxlength="50" name="form-9-vessel_name" type="text" /></td>
                  <td><input Placeholder="Vessel Type" class="vtype" data-toggle="tooltip" id="id_form-9-vessel_type" maxlength="50" name="form-9-vessel_type" type="text" /></td>
                  <td><input Placeholder="Flag" class="flag" data-toggle="tooltip" id="id_form-9-flag" maxlength="50" name="form-9-flag" type="text" /></td>
                  <td><input Placeholder="GRT" class="grt" data-toggle="tooltip" id="id_form-9-grt" min="0" name="form-9-grt" type="number" /></td>
                  <td><input Placeholder="DWT" class="dwt" data-toggle="tooltip" id="id_form-9-dwt" min="0" name="form-9-dwt" type="number" /></td>
                  <td><input Placeholder="Year Built" data-toggle="tooltip" id="id_form-9-year_built" min="0" name="form-9-year_built" type="number" /></td>
                  <td><input Placeholder="Engine Type" data-toggle="tooltip" id="id_form-9-engine_type" maxlength="50" name="form-9-engine_type" type="text" /></td>
                  <td><input Placeholder="HP" class="hp" data-toggle="tooltip" id="id_form-9-hp" min="0" name="form-9-hp" type="number" /></td>
                  <td><input Placeholder="KW" class="kw" data-toggle="tooltip" id="id_form-9-kw" min="0" name="form-9-kw" type="number" /></td>
                  <td><input Placeholder="Manning Agency" class="td-150 manning_agency" data-toggle="tooltip" id="id_form-9-manning_agency" maxlength="50" name="form-9-manning_agency" type="text" /></td>
                  <td><input Placeholder="Principal / Shipowner" class="td-170" data-toggle="tooltip" id="id_form-9-principal" maxlength="50" name="form-9-principal" type="text" /></td>
                  <td><input Placeholder="Date Joined" class="date date-joined" data-toggle="tooltip" id="id_form-9-date_joined" name="form-9-date_joined" type="text" /></td>
                  <td><input Placeholder="Date Left" class="date date-left" data-toggle="tooltip" disabled="" id="id_form-9-date_left" name="form-9-date_left" type="text" /></td>
                  <td style="display:none"><input Placeholder="Days" class="duration" data-toggle="tooltip" id="id_form-9-duration" min="0" name="form-9-duration" readonly="" type="number" /></td>
                   <td><input Placeholder="Rank" class="rank" data-toggle="tooltip" id="id_form-9-rank" maxlength="50" name="form-9-rank" type="text" /></td>
                   <td><select class="first-choice cause_of_discharge" data-toggle="tooltip" id="id_form-9-cause_of_discharge" name="form-9-cause_of_discharge"><option value="Cause of Discharge">Cause of Discharge</option><option value="Finished Contract">Finished Contract</option><option value="Compassionate Reason">Compassionate Reason</option><option value="Medical Repatriation">Medical Repatriation</option><option value="Promoted on Board">Promoted on Board</option><option value="Vessel Sold">Vessel Sold</option><option value="Vessel Scraped">Vessel Scraped</option><option value="Change Management">Change Management</option><option value="Own Request">Own Request</option></select></td>
                </tr>
            </tbody>  
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-info half-width" id="proceed-sea-service">Proceed to Application</button></center>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signature" tabindex="-1" role="dialog" aria-labelledby="SignatureLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Signature {{ app_form.signatures.errors }}</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        {{ app_form.signatures }}
        <button type="button" class="btn btn-info form-control half-width" data-dismiss="modal" style="margin-top: 15px; margin-bottom: 15px;">Proceed to Application</button>
      </div>
    </div>
  </div>
</div>
          </div>
          {% include "application_form/sidebar.html" %}
        </div>
      </div>
    </form>


    <div id="footer">
      <div class="container">
        <p>Princess Building, 104 Esteban Street, Legaspi Village, Makati City 1229, Philippines<br>
        Tel No.: +63 2 892 4071 to 74; Fax No.: +63 2 816 6993<br>
        Website:<a href="http://www.manship.com" title="Click here!" target="_blank" style="text-decoration: none; color: #fff;">&nbsp;www.manship.com</a> 
        E-mail:<a href="mailto:recruitment@manship.com" title="Click here!" target="_blank" style="text-decoration: none; color: #fff;">&nbsp;recruitment@manship.com</a></p>
        <p>&copy 2015 Manila Shipmanagement & Manning, Inc. All rights reserved.</p>
      </div>
    </div>

    {% include "footer.html" %}